/* 
h1 {
  position: fixed;
  width: 400px;
  top: 10px;
  bottom: 0px;
  left: 60px;
  right: 0;
  height: 50px;
z-index: 1;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .leaflet-container {
  height: 100%;
  width: 75%;
  background-color: #000000;
}

.map-wrapper p {
  font-size: 8px;
}

.App .map-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0;
  /* height: 300px; */
}

.App .metrics-wrapper {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;

  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;

  height: 100%;
  width: 25%;
  cursor: pointer;
  /* background-color: #000000; */
}

.App .play-icon-wrapper {
  position: fixed;
  top: 80px;
  left: 13px;
  z-index: 700;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  font: bold 18px "Lucida Console", Monaco, monospace;
  text-align: center;
  
}

.stats-wrapper {
  z-index: 700;
  position: fixed;
  bottom: 50px;
  right: 350px;
  height: 200px;
  width: 400px;
background-color: #ccc;
}

.play-icon{
  padding-top: 4px
}

.references-wrapper {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 300px;
}

.metrics-wrapper h1,
h2 {
  text-align: center;
}

.metrics-wrapper .prison-list {
  padding: 20px;
}

.metrics-wrapper p:hover,
.references-wrapper a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.App .leaflet-container a {
  color: #000000 !important;
}

.App .prison-capacity:hover,
.App .active {
  fill: #6653ff;
  transition: all 2s;
}

.App .selected {
  fill: #00cc00;
}

.metrics-wrapper .active {
  font-weight: bold;
}

.metrics-wrapper .closed {
  font-style: italic;
}
