.App-link {
  color: #61dafb;
}

.App .leaflet-container {
  height: 100%;
  width: 75%;
  background-color: #000000;
}

.map-wrapper p {
  font-size: 8px;
}

.App .map-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0;
}

.App .metrics-wrapper {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 25%;
}

.App .play-icon-wrapper {
  position: fixed;
  top: 79px;
  left: 12px;
  z-index: 700;

  height: 15px;
  line-height: 15px;

  padding-top: 7px;
  padding-bottom: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background-color: #fff;
  text-align: center;
  text-decoration: none;
  font: bold 18px "Lucida Console", Monaco, monospace;
  text-align: center;
}

.play-icon {
  overflow: unset;
  width: 30px;
  height: 14px;
  line-height: 14px;
  background-color: #fff;
  border: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.stats-wrapper {
  z-index: 700;
  position: fixed;
  bottom: 50px;
  right: 350px;
  height: 200px;
  width: 400px;
  background-color: #ccc;
}

.references-wrapper {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 300px;
}

.metrics-wrapper h1 {
  text-align: center;
  color: #6653ff;
}

.metrics-wrapper h2 {
  text-align: center;
}

.metrics-wrapper .prison-list {
  padding: 20px;
}

.metrics-wrapper td:hover,
.references-wrapper a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.App .leaflet-container a {
  color: #000000 !important;
}

.App .prison-capacity:hover {
  fill: #6653ff;
  transition: all 2s;
}

.metrics-wrapper .active {
  font-weight: bold;
}

.metrics-wrapper .closed {
  font-style: italic;
}

th .prison-header {
  text-align: left;
}

.population-footer td {
  border-top: 1px solid #ccc;
  font-weight: bold;
}

.references-wrapper,
.population-footer td:hover,
h1,
h2,
th {
  cursor: text;
}

.population-footer td:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .metrics-wrapper {
    visibility: none;
    display: none;
  }

  .metrics-wrapper h1 {
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 700;
    visibility: visible;
    display: block;
  }
}
/* For desktop: */
/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  
  [class*="col-"] {
    width: 100%;
  }
} */
